Test Result :-

Case 1:- 
Input
x = 121
Output = true
Expected = true

Case 2:- 
Input
x = -121
Output = false
Expected = false

Case 3:- 
Input
x = 10
Output = false
Expected = false