Test Result:

Case 1:
Input: ["flower","flow","flight"]
Output :"fl"
Expected: "fl"

Case 2:
Input: ["dog","racecar","car"]
Output :""
Expected: ""
Explanation: There is no common prefix among the input strings.

