Test Result:

Case 1:
Input: "III"
Expected Output : 3
Actual Output: 3

Case 2:
Input: "IV"
Expected Output : 4
Actual Output: 4

Case 3:
Input: "IX"
Expected Output : 9
Actual Output: 9